{% extends "layout.html.twig" %}

{% block headTitle %}
    Erreur 5xx | CoolLoc, la colocation cool !
{% endblock %}

{% block header %}
       {% if connected is defined %}
            {% include 'required/header_c.html.twig' ignore missing  %}
                {% else %}
            {% include 'required/header.html.twig' ignore missing  %}
        {% endif %}
{% endblock %}

{# Bloc nav #}

{% block navigation %}

            {% if connected is defined %}
                {% include 'required/navigation_c.html.twig' ignore missing  %}
                    {% else %}
                {% include 'required/navigation_nc.html.twig' ignore missing  %}
            {% endif %}

{% endblock %}

{% block content %}
    <div class="content-area error-page" style="background-color: #FCFCFC; padding-bottom: 55px;">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                    <h2 class="error-title">Erreur 5xx</h2>
                    <p>
                        Cette page est temporairement indisponible en raison d'une erreur avec le serveur.
                        Nous vous prions de nous excuser pour la gêne occasionnée.
                        <br />
                        <div class="retour-accueil">
                            Nous vous invitons à revenir à la <a href="{{ path('accueil') }}">page d'acceuil</a> de notre site.
                        </div>
                    </p>
                </div>
            </div> 
        </div>
    </div>
{% endblock %}
