<!-- boy-sale area -->
<div class="boy-sale-area">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="col-md-4 col-md-offset-4">
                    {% if connected is defined %}
                    <a class="navbar-btn nav-button login col-sm-12 text-center "  href="{{ path('profil') }}" ><b>Profil</b></a>
                    {% else %}
                    <a class="navbar-btn nav-button login col-sm-12 text-center "  href="{{ path('inscription') }}" ><b>M'inscrire</b></a>
                    {% endif %}
                </div>
            </div>

            <div class="col-xs-12">
                <p  class="asks-call">Des questions  : <span class="strong"> <a href="{{path('faq')}}
                ">consultez notre FAQ</a></span></p>
            </div>
        </div>
    </div>
</div>