/* Personnalisation */

/* Générales */
    span.red {color:red;}

    .alert.alert-danger {
        padding: 5px;
    }


    /* Inputs               */
.form-control {
    display: block;
    width: 100%;
    height: 44px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857;
    color: #2b2926;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #DADADA;
    border-radius: 0px;
    box-shadow: 0px 1px 1px rgba(179, 179, 179, 0.1) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
/* page contact */

/* exposant */
span.exposant {
    vertical-align: text-bottom;
    font-size: .7em;
}


/* page ajout annonce */
/* text area en mode desktop */
.form-control.textarea-annonce {
    min-height: 190px;
}
/* input de class adresse */
.form-control.adresse {
    margin-bottom: 5px;
}

.picture.form-annonce{
    width: 20%;
    margin: 5px;
    height: 20%;

}

.wizard-card .picture {
    width: 100%;
    height: auto;
}

/* Page confirmation */



.confirmation {
    background-color: #F3F3F3;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}





/* page accueil */


@media (min-width: 768px) and (max-width: 979px){

    .search-form .form-inline .form-group {
        width: 145px !important;
    }


    
    

}
@media (min-width: 980px) and (max-width: 1450px){

    .search-form .form-inline .form-group {
        width: 165px !important;
    }

}
@media (min-width: 1451px) {

    .search-form .form-inline .form-group {
        width: 195px !important;
    }

}



