/* Personnalisation */

/* Générales */
    span.red {color:red;}

    .alert.alert-danger {
        padding: 5px;
    }

    span.bold {font-weight:bold;}

/* page ajout annonce */
/* text area en mode desktop */
.form-control.textarea-annonce {
    min-height: 190px;
}
/* input de class adresse */
.form-control.adresse {
    margin-bottom: 5px;
}
    /* Inputs               */
.form-control {
    display: block;
    width: 100%;
    height: 44px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857;
    color: #2b2926;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #DADADA;
    border-radius: 0px;
    box-shadow: 0px 1px 1px rgba(179, 179, 179, 0.1) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
/* page contact */

/* exposant */
span.exposant {
    vertical-align: text-bottom;
    font-size: .7em;
}




.picture.form-annonce{
    width: 20%;
    margin: 5px;
    height: 20%;

}

.wizard-card .picture {
    width: 100%;
    height: auto;
}

/* Page confirmation */



.confirmation {
    background-color: #F3F3F3;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* PAGE PROFIL */
img.profile_img{
  max-width: 200px;
  max-height: 200px;
  margin-bottom: 10px;
}

/* UNIQUEMENT SECTION ANNONCES DANS PROFIL*/
div.annonce_miniature{
  position: relative;
  min-height: 380px;
  transition: all 0.5s ease;
}

a.modif_annonce{
  position: absolute;
  bottom: 10px;
  left: 20px;
  transition: all 0.5s ease;
}

a.modif_annonce:hover{
  transform: scale(1.1);
}

div.gerer{
  opacity: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
  transition: all 0.5s ease;
}

div.annonce_miniature:hover{
  background-color: #DCDCDC;
}

div.annonce_miniature:hover div.gerer{
  opacity: 1;
}

/* PAGE PREMIERE CONNEXION */
div.choice{
  background-color: #F3F3F3;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  transition: all 0.5s ease;
}

div.choice button{
  transition: all 0.5s ease;
}

div.choice button:hover{
  color: black;
}

div.choice:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

/* Page à propos */

.text-center.equipe {
    margin-left: 15%;
}

/* fiche profil */
.img-circle {
    width: 100%;
    max-width: 100%;
}

.property-features ul li {
    text-transform: uppercase;
color: #9C9C9C;
font-weight: 500;
}

.property-features ul li::after {
    content: "/";
    color: #FDC600;
    font-weight: bold;
    padding-left: 5px;
    font-size: 14px;
}

/* page accueil */

#profil-colocataire img {
    width:200px;
    max-width: 100%;
    min-height: auto !important;
    max-height: 200px !important;
}

.slider-principal .owl-wrapper-outer {
    background-color: #F3F3F3;
    opacity: .6;
}

#bg-slider .slider-principal .item img {
    width: 100%;
    height: 630px;
    opacity: .6;
}


.Welcome-area h2 {
    line-height: 85px !important;
}

.search-form {
    
    width: 100%;
    margin: 0 auto;
}

.toggle-btn2, .toggle-btn3, .toggle-btn4 {
    background-color: #FDC600;
    color: #333;
    font-size: 16px;
    border: 1px solid #EAE9E9;
    width: 30px;
    height: 30px;
    color: #FFF;
    transition: all 0.3s ease 0s;
    padding: 0px;
    position: relative;
    top: -5px;
    margin-left: 10px;
}


#search-form .col-md-3 {
    text-align: left;

}

#search-form .radio .col-md-4 {
    text-align: left;

}

.iradio_square-yellow {
    margin-right: 5px;
}

p.radio-text {
    margin-top: 20px;
    margin-bottom: 5px;
}

.client-text {

    min-height: 136px;

}

@media (max-width: 480px){

  div.annonce_miniature{
    position: relative;
    min-height: 330px;
    transition: all 0.5s ease;
  }

  div.caption h4{
    margin-bottom: 50px;
  }

  a.modif_annonce{
    position: absolute;
    bottom: 10px;
    left: 20px;
    transition: all 0.5s ease;
  }

}

@media (min-width: 480px) and (max-width: 767px){
    div.caption h4{
      margin-bottom: 50px;
    }
  
    a.modif_annonce{
      left: 50px;
    }
  }

@media (min-width: 768px) and (max-width: 979px){

    .search-form .form-inline .form-group {
        width: 145px !important;
    }

    div.caption h4{
      margin-bottom: 50px;
    }

    a.modif_annonce{
      left: 45px;
    }
}



@media (min-width: 980px) and (max-width: 1450px){

    .search-form .form-inline .form-group {
        width: 165px !important;
    }

}
@media (min-width: 1451px) {

    .search-form .form-inline .form-group {
        width: 195px !important;
    }

}

/* page erreurs */

.page-title h2.error-title {
    font-size : 46px;
    font-weight: bold;
}

.page-title p {
    font-weight: bold;
}
.page-title p.retour-accueil{
    font-weight: normal;
}
