
    
    {% extends"layout.html.twig" %}



{% block headTitle %}
    Mot de passe oublié | CoolLoc, la colocation cool !
{% endblock %}

{# Bloc nav #}

{% block navigation %}

    {% if connected is defined %}
        {% include 'required/navigation_c.html.twig' ignore missing  %}
    {% else %}
        {% include 'required/navigation_nc.html.twig' ignore missing  %}
    {% endif %}

{% endblock %}

{% block content %}
    <div class="slider-area">

    {% if error is defined %}
    <ul>
        {% for errors in error %}
            <li>{{ errors }}</li>
        {% endfor %}
    </ul>
    {% endif %}

<div class="page-head"> 
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">Mot de passe oublié</h1>               
            </div>
        </div>
    </div>
</div>
<!-- End page header --> 

<!-- property area -->
<div class="content-area user-profiel" style="background-color: #FCFCFC;">&nbsp;
    <div class="container">   
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 profiel-container">

                

                    <div class="profiel-header">
                        <h3>
                            MOT DE PASSE <b>OUBLIÉ</b>
                        </h3>
                        
                        <hr>
                    </div>

                    <div class="clear">

                        <div class="col-sm-10 col-sm-offset-1">
                        <p class="text-center">Un lien pour changer votre mot de passe va être envoyé à l'adresse e-mail indiquée<br>Cette adresse doit être identique à celle que vous avez renseigné lors de votre inscription.
                        <small>Vous devez être inscrit pour recevoir ce lien, si ce n'est pas le cas vous ne recevrez pas de message.</small></p>
                        <div class="text-center"><button class="navbar-btn nav-button wow "  onclick=" window.open('{{ path('inscription') }}', '_self')" data-wow-delay="0.45s" data-wow-delay="0.45s">M'inscrire</button></div>
                            
                            <form method="post">    
                                        <div class="form-group">
                                            <label>Votre adresse e-mail <small>(requis)</small></label>
                                            <input name="mail" type="text" class="form-control">
                                        </div>
                                    </div>
                                    
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-default"> Envoyer</button>
                                    </div>       
                                </div>                
                            </form>
            </div>
        </div><!-- end row -->
    </div>
</div>

{% endblock %}
    