
{% extends"layout.html.twig" %}


{% block headTitle %}
    Mot de passe oublié | Envoie par mail !
{% endblock %}

{# Bloc nav #}

{% block navigation %}
    {% include 'required/navigation_nc.html.twig' ignore missing  %}
{% endblock %}

{% block content %}
    <div class="slider-area">

    {% if error is defined %}
        {{ error }}
    {% endif %}

<div class="page-head"> 
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">Mot de passe oublié</h1>               
            </div>
        </div>
    </div>
</div>
<!-- End page header --> 

<!-- property area -->
<div class="content-area user-profiel" style="background-color: #FCFCFC;">&nbsp;
    <div class="container">   
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 profiel-container">

                <form method="post">

                    <div class="profiel-header">
                        <h3>
                            <b>OUBLIE</b> DU MOT DE PASSE <br>
                            <small>Un lien pour changer votre mot de passe va être envoyé à votre adresse e-mail</small>
                        </h3>
                        <hr>
                    </div>

                    <div class="clear">

                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="form-group">
                                <label>Votre adresse e-mail <small>(requis)</small></label>
                                <input name="mail" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-default"> Envoie</button>
                        </div>       
                    </div>                
                </form>
            </div>
        </div><!-- end row -->
    </div>
</div>

{% endblock %}
    