{% extends"layout.html.twig" %}


{% block headTitle %}
    A propos de nous | CoolLoc, la colocation cool !
{% endblock %}

{# Bloc header #}
{% block header %}
    {% if connected is defined %}
            {% include 'required/header_c.html.twig' ignore missing  %}
                {% else %}
            {% include 'required/header.html.twig' ignore missing  %}
        {% endif %}
{% endblock %}

{# Bloc nav #}

{% block navigation %}

            {% if connected is defined %}
                {% include 'required/navigation_c.html.twig' ignore missing  %}
                    {% else %}
                {% include 'required/navigation_nc.html.twig' ignore missing  %}
            {% endif %}

{% endblock %}

{% block content %}

<!-- Page Content -->
    <div class="container">

      <!-- Introduction Row -->
      <h1 class="my-4">A propos de CoolLoc <br>
        <small>Comment faisiez vous pour trouver une collocation qui vous ressemble avant ?</small>
      </h1>
      <p>Notre service propose une mise en relation entre des personnes qui recherchent une colocation et des personnes qui proposent une annonce de colocation (en recherche de colcataires) </p>
      <p>Le résultat des recherches se fait en fonction de critères définis par l'utilisateur au moment de son inscription.

      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-12">
          <h2 class="my-4">Notre équipe </h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
          <h3>John Smith
            <small>Job Title</small>
          </h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
          <h3>John Smith
            <small>Job Title</small>
          </h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
          <h3>John Smith
            <small>Job Title</small>
          </h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
          <h3>John Smith
            <small>Job Title</small>
          </h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
          <h3>John Smith
            <small>Job Title</small>
          </h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
          <h3>John Smith
            <small>Job Title</small>
          </h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
      </div>

    </div>




{% block countarea %}
    {# Bloc de séléction annonce et profil différent quand user connecter #}
    {% include 'required/countarea.html.twig' ignore missing  %}
{% endblock %}


{% block defineprofil %}
    {# Bloc de séléction annonce et profil différent quand user connecter #}
    {% include 'required/defineprofil.html.twig' ignore missing  %}
{% endblock %}

{% endblock %}
