{% extends"layout.html.twig" %}


{% block headTitle %}
    A propos de nous | CoolLoc, la colocation cool !
{% endblock %}

{# Bloc header #}
{% block header %}
    {% if connected is defined %}
            {% include 'required/header_c.html.twig' ignore missing  %}
                {% else %}
            {% include 'required/header.html.twig' ignore missing  %}
        {% endif %}
{% endblock %}

{# Bloc nav #}

{% block navigation %}

            {% if connected is defined %}
                {% include 'required/navigation_c.html.twig' ignore missing  %}
                    {% else %}
                {% include 'required/navigation_nc.html.twig' ignore missing  %}
            {% endif %}

{% endblock %}

{% block content %}

<!-- Page Content -->
    <div class="container">
      <div class ="col-sm-10 col-sm-offset-1 page-title  text-center">
      <!-- Introduction Row -->
      <h2 class="">A propos de CoolLoc <br>
        <small>Comment faisiez vous pour trouver une collocation<br> qui vous ressemble avant ?</small>
      </h2>
      <p>Notre service propose une mise en relation entre des personnes qui recherchent une colocation et des personnes qui proposent une annonce de colocation (en recherche de colcataires) </p>
      <p>Le résultat des recherches se fait en fonction de critères définis par l'utilisateur au moment de son inscription.
      </div>
      <!-- Team Members Row -->
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 page-title  text-center">
          <h2 class="">Notre équipe </h2>
        </div>
        <div class="text-center equipe ">
          <div class="col-sm-2 text-center ">
            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
            <h3>John Smith</h3>
              <p>Job Title</p>
            
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
          </div>
          <div class="col-sm-2 text-center">
            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
            <h3>John Smith</h3>
              <p>Job Title</p>
            
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
          </div>
          <div class="col-sm-2 text-center">
            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
            <h3>John Smith</h3>
              <p>Job Title</p>
            
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
          </div>
          <div class="col-sm-2 text-center">
            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
            <h3>John Smith</h3>
              <p>Job Title</p>
            
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
          </div>
          <div class="col-sm-2 text-center">
            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
            <h3>John Smith</h3>
              <p>Job Title</p>
            
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
          </div>
        </div>

        </div>

      </div>

    </div>




{% block countarea %}
    {# Bloc de séléction annonce et profil différent quand user connecter #}
    {% include 'required/countarea.html.twig' ignore missing  %}
{% endblock %}


{% block defineprofil %}
    {# Bloc de séléction annonce et profil différent quand user connecter #}
    {% include 'required/defineprofil.html.twig' ignore missing  %}
{% endblock %}

{% endblock %}
