<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - Mike Silex Application</title>

        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
        {# {% stylesheets '@asset_main_css' output="css/main.css" %} #}

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>

    {#  récupération de la nav #}

        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        <!-- Body content -->

        <div class="header-connect">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-8  col-xs-12">
                        <div class="header-half header-call">
                            <p>
                                <span><i class="pe-7s-call"></i> +33 1 10 10 10 10</span>
                                <span><i class="pe-7s-mail"></i> coolloc[at]coolloc.com</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-offset-5  col-sm-3 col-sm-offset-1  col-xs-12">
                        <div class="header-half header-social">
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                {# <li><a href="#"><i class="fa fa-twitter"></i></a></li> #}
                                {# <li><a href="#"><i class="fa fa-vine"></i></a></li> #}
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                {# <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li> #}
                            </ul>
                        </div>
                    </div>
                {# </div> #}
            </div>
        </div>
        <!--End top header -->

        {# bloc de navigation / nav différente en fonction de connexion ou pas #}

        {% block navigation%}{% endblock %}

        {# fin de navigation  #}

        {# début du content #}

        {% block content %}{% endblock %}
    </body>
</html>
